h1{
    color: gray;
    text-align: center;
    border:solid 1px black;
    padding: auto;
    margin: auto;
}
.container-fluid {
    background-color: lightgray;
}
.student{
    width: 25%;
    height: 25%;
    margin: auto;
    padding: 5px;
}